/* Estilos del documento */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

/* Titulos, navegación */

header {
    background-color: #222;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* contenido principal */

main {
    display: flex;
    padding: 20px;
}

section {
    width: 70%;
    margin: 0 20px; /* margin: XXpx top-right-bottom-left - margin: YYpx XXpx top-bottom left-right*/
}

aside {
    width: 30%;
    background-color: #ddd;
    padding: 15px;
}

/* articulos */

article {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    outline: 2px dashed #999;
}

.fecha {
    font-size: 0.8em;
    color: #777
}